DRBL_ETH_INTERFACES="{{ drbl_iface }}"
DRBL_USE_DHCP="{{ drbl_use_dhcp_bool | ternary('yes','no') }}"
DRBL_USE_PROX_DHCP="{{ drbl_use_proxydhcp_bool | ternary('yes','no') }}"
DRBL_PUSH_TYPE="full"
DRBL_CLIENT_BOOT_TYPE="pxe"
DRBL_IMAG_DIR="{{ drbl_image_repo }}"
