[DEFAULT]
ignoreip = {{ fail2ban_ignoreip | join(' ') }}
bantime  = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
backend  = {{ fail2ban_backend }}

{% for jail in fail2ban_jails %}
[{{ jail.name }}]
enabled  = {{ 'true' if jail.enabled else 'false' }}
port     = {{ jail.port }}
logpath  = {{ jail.logpath }}
maxretry = {{ jail.maxretry | default(fail2ban_maxretry) }}
{% endfor %}
